.header{
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: aqua;
}
.content{
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center; 
}
